:root {
  --background-color: #111;
  --primary-color: rgb(243, 243, 243);
  --secondary-color: rgb(50, 50, 50);
  --accent-color: rgb(240, 240, 240);
  --button-color: rgb(142, 142, 142);
  --button-hover-color: #8e8e8e28;
  --scrollbar-color: rgb(89, 89, 89);
  --scrollbar-border-color: rgb(83, 83, 83);
  --light-mode-background-color: rgb(174, 174, 174);
  --light-mode-textarea-background-color: rgb(255, 255, 255); 
  --light-mode-button-background-color: rgb(207, 207, 207); 
  --light-mode-accent-color: #111;
  --light-mode-button-hover-color: rgb(253, 199, 255);
  --font-family: 'Ubuntu', sans-serif;
  --transition-duration: 0.5s;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Ubuntu&display=swap');

html, body {
  margin: 0;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  padding: 20px 0 0 0;
  margin: 0;
  color: var(--primary-color);
  height: 100%;
  font-family: var(--font-family);
  transition: var(--transition-duration);
}

textarea {
  background-color: var(--secondary-color);
  margin: 90px 0 auto;
  padding: 50px;
  color: var(--accent-color);
  font-size: 40px;
  display: block;
  margin: auto;
  margin-top: 20px;
  resize: none;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 65%;
  min-width: 65%;
  height: 86vh;
  text-align: left;
  transition: var(--transition-duration);
}

textarea::placeholder {
  font-family: var(--font-family);
}

textarea:focus {
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  margin: 0 10px;
  padding: 0;
  font-size: 1.2rem;
  color: var(--button-color);
  cursor: pointer;
  padding: 12px 30px;
  background-color: rgba(50, 50, 50, 0.27);
  border-radius: 40px;
  transition: var(--transition-duration);
}

button:active {
  background-color: white;
}

button:hover {
  background-color: var(--button-hover-color);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

textarea::-webkit-scrollbar {
  width: 0.9rem;
  border-radius: 2px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  outline: 1px solid var(--scrollbar-border-color);
  border-radius: 100px;
  width: 0.9rem;
}

textarea::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.donate {
  width: 10%;
  display: none;
}

.click:active {
  background-color: rgb(107, 107, 107);
  color: black;
}

.inc {
  border-radius: 40px 0 0 40px;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 27px;
}

.dec {
  border-radius: 0 40px 40px 0;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 27px;
}

.menu {
  display: flex;
  justify-content: center;
}

#leftAlign {
  border-radius: 40px 0 0 40px;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 27px;
}

#centerAlign {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 20px;
}

#rightAlign {
  border-radius: 0 40px 40px 0;
  margin-left: 0;
  padding-right: 27px;
  padding-left: 20px;
}

.dlmode {
  background-color: var(--light-mode-background-color);
  transition: var(--transition-duration);
}

.dlmode textarea {
  background-color: var(--light-mode-textarea-background-color);
  color: var(--light-mode-accent-color);
  transition: var(--transition-duration);
}

.dlmode button {
  background-color:var(--light-mode-button-background-color);
  color: var(--light-mode-accent-color);
  transition: var(--transition-duration);
}

.dlmode button:hover {
  background-color: var(--light-mode-button-hover-color);
}